/*----------
font
------------ */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');


/*-----------------
common styles
------------------- */
:root {
    --primary-color: #131313;
    --secondary-color: #727272;
    --tertiary-color: #FF900E;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/*--------------
 button style 
 ----------------*/
.btn-primary {
    Height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    padding: 21px 25px;
}

/* ---------------------
navigation styles
-------------------------*/
.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 50px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: var(--primary-color);
}

.nav-menu {
    display: flex;
    gap: 50px;
    font-weight: 500;
    font-size: 18px;
    color: var(--secondary-color);
}

.nav-container ul li {
    list-style: none;
}

/*-----------------------
 brand section styles
------------------------- */

.brand-section {
    text-align: center;
    padding: 100px 0 50px;
    background-color: rgba(255, 144, 14, 0.1);
}

.brand-details {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.brand-title {
    font-weight: 700;
    font-size: 64px;
    color: var(--primary-color);
    margin-bottom: 32px;
}

.info {
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.fa-check {
    color: var(--tertiary-color);
    margin-right: 5px;
}

.brand-section img {
    max-width: 1440px;
    width: 90%;
}

/*-------------------------- 
Features section styles
--------------------------- */

.Features-container {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 73px;
    margin: 130px auto;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}

.section-title {
    font-weight: 600;
    font-size: 45px;
    color: var(--primary-color);
    margin-bottom: 24px;
}

.highlight-primary {
    font-weight: 500;
    color: var(--secondary-color)
}

.highlight-secondary {
    color: var(--tertiary-color)
}

/*-----------------------
 services section styles
------------------------- */
.service-section {
    width: 100%;
    max-width: 90%;
    display: flex;
    gap: 145px;
    margin: 0 auto 130px;
}

.services .section-title {
    border-left: 5px solid var(--tertiary-color);
    padding-left: 15px;
}

.services .info {
    margin-bottom: 30px;
}

.service-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
}

.service-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.experience-box {
    position: relative;
    bottom: 120px;
    right: 100px;
    z-index: 1;
    color: #FFFFFF;
    text-align: center;
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 8px;
    padding: 45px 42px;

}

.experience-box h2 {
    font-weight: 700;
    font-size: 65px;
}

/*---------------------
 fact section styles
----------------------- */

.fact-section {
    width: 100%;
    max-width: 542px;
    margin-left: 100px;
    margin-bottom: 130px;

}

/* ---------------------------
    achievement section styles 
------------------------------ */
.achievements {
    display: flex;
    justify-content: space-evenly;
}

.achievement-container {
    height: 241.83px;
    width: 241.83px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin-bottom: 130px;
    transition: all 1s linear;
}

.achievement-container:hover {
    background-color: #FF900E;
    transform: scale(1.5);
    color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(192, 117, 31, 0.589);
}

.achievement-container h3 {
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    transition: all 1s linear;
}

/*----------------------
sponsors section style
----------------------- */

.sponsors-container {
    text-align: center;
}

.sponsors-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    filter: grayscale(1);
    margin-top: 50px;
    margin-bottom: 130px;

}

/*--------------------- 
contact form style
------------------------ */
.form-container {
    display: flex;
    gap: 100px;
    align-items: center;
    background-color: #FFF4E7;
    padding: 130px 200px;
}

.contact-form input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    padding: 18px 30px;
    margin-bottom: 24px;

}

.form-label {
    font-size: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}


/* -------------------
    footer styles 
----------------------*/
footer {
    width: 100%;
    text-align: center;
    background-color: #FFF4E7;
    padding: 40px 0;
    margin: 0 auto;

}


/* Media Queries */

@media only screen and (max-width: 576px) {

/*--------------------------
Mobile Responsive styles
----------------------------  */
    .nav-container,
    .Features-container,
    .service-section,
    .achievements,
    .form-container {
        flex-direction: column;
        /* align-items: center; */
    }

    .nav-title {
        margin-bottom: 30px;
    }

    .nav-menu {
        gap: 40px;
    }

    .image-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .architect-img {
        width: 100%;
    }

    .experience-box {
        position: static;
        margin-top: 20px;
        margin-left: 5px;
    }

    .fact-section {
        text-align: center;
        margin-left: 10px;
    }

    .achievements {
        align-items: center;
    }

    .sponsors-logo img {
        margin-bottom: 20px;
    }

    .form-container,
    .brand-details>.info,
    .fact-section>.info,
    .title-container>.info {
        padding: 0 20px;
    }
}

@media only screen and (min-width:577px) and (max-width:992px) {

/*---------------------------
 tablet Responsive styles
----------------------------- */

    .Features-container,
    .service-section,
    .achievements,
    .form-container {
        flex-direction: column;
        /* align-items: center; */
    }

    .architect-img {
        width: 100%;
    }

    .experience-box {
        position: static;
        margin-top: 20px;
        margin-left: 5px;
    }

    .fact-section {
        /* margin-left: 10px; */
        margin: 0 auto 130px;
        text-align: center;
    }

    .achievements {
        align-items: center;
    }

    .sponsors-logo img {
        margin-bottom: 20px;
    }

    .form-container {
        padding: 50px;
    }

}